# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Cache
# =========================
build/
dist/
.cache/

# =========================
# Model Files
# =========================
*.h5
*.pt
*.pth
*.onnx
*.ckpt
*.pickle
*.pkl

# =========================
# Dataset / Data
# =========================
data/
datasets/
*.zip
*.rar
*.7z
*.tar.gz

# =========================
# Images / Videos Outputs
# =========================
outputs/
results/
temp/
*.mp4
*.avi
*.mov

# =========================
# Environment Variables
# =========================
.env